.checkout{
    height: 100%;
    width: 100cw;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(30, 30, 30);

}
.checkout-form{
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding: 10px 30px 30px 30px;
    box-shadow: 2px 2px 20px;
}
.checkout-form>button{
    margin-top: 20px;
    width: 200px;
    padding: 12px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: rgb(5, 0, 60);
    border-radius: 10px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.resp-element{
    display: flex;
    justify-content:space-evenly;
    margin: 15px 0 15px 0;
}
.resp-element1{
    display: flex;
    margin: 15px 0 15px 0;
}
.resp-element1> div{
    margin: 10px;
}
.resp-element >input{
    border-radius: 8px;
    height: 30px;
    padding: 5px;
    width: 100%;
    margin: 10px;
}
.checkout-form>input{
    border-radius: 8px;
    height: 30px;
    padding: 5px;
    margin: 10px;
}
@media only screen and (max-width: 500px) {
 .resp-element{
    flex-direction: column;
    margin-right: 35px;
 }
 .resp-element1{
    flex-direction: column;
 }
 .checkout{
    height: 100%;
    margin: auto ;

}
.checkout-form>button{
   margin: auto;
}
}
@media only screen and (max-width: 1100px) {
    form{
        width:80%;
        margin: auto;
   }
   }