.footer {
    height: 150px;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(137, 137, 137);
    flex-direction: column;
    border-top: 2px solid rgb(65, 65, 65);
    position: sticky;
    top: 100%;
}

.footer>.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-options {
    margin: 10px;
    display: flex;
}

.footer-opt {
    color: rgb(137, 137, 137);
}

.footer span {
    cursor: pointer;
    margin: 5px;
}

@media only screen and (max-width: 850px) {

    .footer {
        height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-opt {
        margin: 3px;
    }
    .footer{
        padding:10px;
    }
}